<!DOCTYPE html>
<html>
  <head>
    <title>Google Calendar API Authorization</title>
    <link rel="icon" type="image/png" href="/assets/calendar.png">
  </head>
  <body>
    <h1>Google Calendar API Authorization</h1>
    <p>Click the button below to authorize access to your Google Calendar:</p>
    <a href="/auth"><button>Authorize</button></a>
  </body>
</html>

