<!DOCTYPE html>
<html>
  <head>
    <title>Authorization Successful</title>
    <link rel="icon" type="image/png" href="/assets/calendar.png">
  </head>
  <body>
    <h1>Authorization Successful</h1>
    <p>Your application has been authorized to access Google Calendar.</p>
    <p>Your AI Agent calendar include url is <b><TMPL_VAR name="url"></b></p>

    
  </body>
</html>

